<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emersysrd.emerduty.mapper.ContactsGroupsMapper">

    <resultMap type="ContactsGroups" id="ContactsGroupsResult">
        <result property="groupId"    column="GROUP_ID"    />
        <result property="groupName"    column="GROUP_NAME"    />
        <result property="groupType"    column="GROUP_TYPE"    />
        <result property="orderNum"    column="ORDER_NUM"    />
        <result property="revision"    column="REVISION"    />
        <result property="status"    column="STATUS"    />
        <result property="delFlag"    column="DEL_FLAG"    />
        <result property="createBy"    column="CREATE_BY"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="updateBy"    column="UPDATE_BY"    />
        <result property="updateTime"    column="UPDATE_TIME"    />
    </resultMap>

    <sql id="selectContactsGroupsVo">
        select d.GROUP_ID, d.GROUP_NAME, d.GROUP_TYPE, d.ORDER_NUM, d.REVISION, d.STATUS, d.DEL_FLAG, d.CREATE_BY, d.CREATE_TIME, d.UPDATE_BY, d.UPDATE_TIME
        from contacts_groups d
    </sql>

    <select id="selectContactsGroupsList" parameterType="ContactsGroups" resultMap="ContactsGroupsResult">
        <include refid="selectContactsGroupsVo"/>
        <where>
            d.del_flag = '0'
            <if test="groupId != null "> and GROUP_ID = #{groupId}</if>
            <if test="groupName != null  and groupName != ''"> and GROUP_NAME like concat('%', #{groupName}, '%')</if>
            <if test="groupType != null  and groupType != ''"> and GROUP_TYPE = #{groupType}</if>
            order by d.order_num
        </where>
    </select>

    <select id="selectContactsGroupsById" parameterType="Long" resultMap="ContactsGroupsResult">
        <include refid="selectContactsGroupsVo"/>
        where GROUP_ID = #{groupId}
    </select>

    <insert id="insertContactsGroups" parameterType="ContactsGroups">
        insert into contacts_groups
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupId != null and groupId != 0">GROUP_ID,</if>
            <if test="groupName != null  and groupName != ''">GROUP_NAME,</if>
            <if test="groupType != null  and groupType != ''">GROUP_TYPE,</if>
            <if test="orderNum != null ">ORDER_NUM,</if>
            <if test="revision != null ">REVISION,</if>
            <if test="status != null  and status != ''">STATUS,</if>
            <if test="createBy != null  and createBy != ''">CREATE_BY,</if>
            <if test="createTime != null ">CREATE_TIME,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupId != null ">#{groupId},</if>
            <if test="groupName != null  and groupName != ''">#{groupName},</if>
            <if test="groupType != null  and groupType != ''">#{groupType},</if>
            <if test="orderNum != null ">#{orderNum},</if>
            <if test="revision != null ">#{revision},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            sysdate()
         </trim>
    </insert>

    <update id="updateContactsGroups" parameterType="ContactsGroups">
        update contacts_groups
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupName != null  and groupName != ''">GROUP_NAME = #{groupName},</if>
            <if test="groupType != null  and groupType != ''">GROUP_TYPE = #{groupType},</if>
            <if test="orderNum != null ">ORDER_NUM = #{orderNum},</if>
            <if test="revision != null ">REVISION = #{revision},</if>
            <if test="status != null  and status != ''">STATUS = #{status},</if>
            <if test="updateBy != null  and updateBy != ''">UPDATE_BY = #{updateBy},</if>
            update_time = sysdate()
        </trim>
        where GROUP_ID = #{groupId}
    </update>

    <delete id="deleteContactsGroupsById" parameterType="Long">
        update contacts_groups set del_flag = '2' where GROUP_ID = #{groupId}
    </delete>

    <delete id="deleteContactsGroupsByIds" parameterType="String">
        update contacts_groups set del_flag = '2' where GROUP_ID in
        <foreach item="groupId" collection="array" open="(" separator="," close=")">
            #{groupId}
        </foreach>
    </delete>

    <select id="checkGroupExistMembers" parameterType="Long" resultType="int">
		select count(1) from contacts_group_members where group_id in
        <foreach item="groupId" collection="array" open="(" separator="," close=")">
            #{groupId}
        </foreach>
        and del_flag = '0'
    </select>

</mapper>
